<div class="panel panel-default">
  <div class="overlay" [style.display]="loading?'flex':'none'"><i class="fas fa-spinner fa-spin"></i></div>
  <div class="panel-heading">
    <h3 class="panel-title">Dokument als E-Mail versenden <span [hidden]="!editedMail" class="edit-text">(bearbeitet)</span></h3>
  </div>
  <div class="panel-body">
  	<div>
  		Versenden Sie das Dokument an die von Ihnen ausgewählten Empfänger:
  	</div>
  	<br>
    <ul class="list-group">
      <li *ngFor="let recipient of recipients" class="list-group-item">{{recipient.name}}</li>      
    </ul>
    <br>
    <button type="button" class="btn btn-success btn-sm half-width" (click)="sendEmail()"><i class="fas fa-envelope fa-lg fa-fw"></i> Jetzt versenden</button>
    <button type="button" class="btn btn-default btn-sm half-width" (click)="previewEmail()"><i class="fas fa-search fa-lg fa-fw"></i> E-Mail Vorschau</button>
  </div>
</div>