.list-group {
	margin-bottom: 0px;
	max-height: 300px;
	overflow-y: auto;
}

.half-width {
	width: 49%;
}

.edit-text {
	font-size: 80%;
	color: #b4bcc2;
	font-style: italic;
}

.panel {
	position: relative;
}

.margin-right-1 {
	margin-right: 1%;
}

.overlay {
	background-color: rgba(255,255,255,0.5);
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
	justify-content: center;
	align-items: center;
	font-size: 40px;
}