 <div class="modal-content">
 	<div class="modal-header">
 		<h4 class="modal-title">Dokument unterschreiben</h4>
 	</div>
 	<div class="modal-body" >
 		<span class="center">Warten...</span>
 		<p class="info-text">Die Handy-Signatur findet zu Ihrer Sicherheit in einem externem Fenster ("Pop-Up") statt. Sie werden automatisch zum nächsten Schritt geleitet, sobald Sie den Handy-Signatur-Prozess erfolgreich abgeschlossen haben.</p>
 	</div>
 	<div class="modal-footer">
 		<button type="button" class="btn btn-default" (click)="activeModal.dismiss('Cancel')">Signatur abbrechen</button>
 	</div>
 </div>